.brand {
    position: fixed;
    top: calc(50% - 125px);
    right: 0;
    width: 80px;
    height: 250px;
    z-index: 9999;
    animation: bounceInRight 2s linear forwards;
}

@keyframes bounceInRight {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0) scaleX(3);
        transform: translate3d(3000px, 0, 0) scaleX(3)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0) scaleX(1);
        transform: translate3d(-25px, 0, 0) scaleX(1)
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0) scaleX(.98);
        transform: translate3d(10px, 0, 0) scaleX(.98)
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0) scaleX(.995);
        transform: translate3d(-5px, 0, 0) scaleX(.995)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}


.brand.hidden {
    display: none;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    /* rotate: 45deg;   */
    color: var(--orange);
    font-weight: 900;
    z-index: 9999999;
    font-size: 16px;
    height: fit-content;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
}

.close:hover {
    outline: 2px var(--orange) solid;
}