.featureCard {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin-bottom: 50px;

}

.featureCard:nth-child(even) {
    flex-direction: row-reverse;
}

.featureCard .left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.featureCard .left p {
    color: var(--text);
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;

}


.imageContainer {
    position: relative;
    width: 650px;
    height: 400px;
}

@media (max-width:1200px) {
    .featureCard {
        flex-direction: column;
    }

    .featureCard .right {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .featureCard:nth-child(even) {
        flex-direction: column;
    }

}

@media (max-width:992px) {
    .featureCard .left p {
        font-size: 17px;
        line-height: 30px;
        font-weight: 400;
        flex: 1;
        text-align: center;

    }

    .imageContainer {
        position: relative;
        width: 80%;
        height: fit-content;
        aspect-ratio: 1.5/1;
        /* height: 250px; */
        
    }
}