.featureTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    gap: 30px;
}

.featureTitle .cardId {
    text-align: center;
    width: 100px;
    padding: 20px 10px;
    border-radius: 10px;
    background: var(--green-gradient);
    color: var(--white);
}

.featureTitle .cardId h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.featureTitle .cardId h3 {
    font-size: 40px;
    font-weight: 300;
}


.featureTitle h1 {
    color: var(--green);
    font-size: 45px;
    font-weight: 700;
}

@media (max-width:992px) {
    .featureTitle {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .featureTitle .cardId {
        margin-bottom: 20px;

    }

    .featureTitle .cardId h2 {
        font-size: 16px;
    }

    .featureTitle .cardId h3 {
        font-size: 30px;
    }


    .featureTitle h1 {
        text-align: center;
        font-size: 30px;
    }

}